<p-card>
  <!-- <ng-template pTemplate="header">
    <h1>Users Table</h1>
  </ng-template> -->

  <p-table [value]="myData" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">User Name</th>
        <th style="text-align: center;">Email</th>
        <th style="text-align: center;">City</th>
        <th style="text-align: center;">Phone</th>
        <th style="text-align: center;">Website</th>
        <th style="text-align: center;">Company Name</th>
        <th style="text-align: center;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td style="text-align: center;">{{data.name}}</td>
        <td style="text-align: center;">{{data.username}}</td>
        <td style="text-align: center;">{{data.email}}</td>
        <td style="text-align: center;">{{data.address.city}}</td>
        <td style="text-align: center;">{{data.phone}}</td>
        <td style="text-align: center;">{{data.website}}</td>
        <td style="text-align: center;">{{data.company.name}}</td>
        <td style="text-align: center;">
          <button pButton type="button" label="edit" class="p-button-sm p-button-warning"
            (click)="onClickEdit(data)"></button>
          <p></p>
          <button pButton type="button" label="delete" class="p-button-sm p-button-danger"
            (click)="onClickDelete(data.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <p-paginator [rows]="5" [totalRecords]="10"></p-paginator>
  </ng-template>
</p-card>

<p-dialog header="Edit" [(visible)]="displayEdit" [style]="{width: '25vw'}" [modal]="true">

  <form [formGroup]="formData">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name"
        placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">User Name</label>
      <input type="text" class="form-control" id="username" placeholder="Enter User Name" formControlName="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">City</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="city"
        placeholder="Enter City">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Website</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="website">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Company Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="company">
    </div>
  </form>

  <ng-template pTemplate="footer">
    <!-- (click)="onSubmit(form.value)" -->
    <button type="submit" class="btn btn-primary" (click)="onSubmit(formData.value)">Update</button>

  </ng-template>
</p-dialog>

<p-toast></p-toast>
